.header-container {
  color: var(--gold);
  position: sticky;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  display: none;
}

.logo {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

li {
  text-decoration: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 850px) {
  .header {
    display: none;
  }

  .logo {
    flex: 1;
    display: block;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: var(--gold);
    text-align: center;
  }

  .burger-menu {
    display: flex;
  }
}
