/* You can add global styles to this file, and also import other style files */

:root {
  --dark: #000;
  --white: #fff;
  --gold: #ebaf2c;
}

* {
  color: var(--gold);
  font-family: Copperplate, Papyrus, fantasy;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #000;
}
